<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Entelgy - Solicitar Lanche</title>
        <script src="../js/jquery-3.1.0.min.js"></script>
        <script src="../js/burguerRequest.js"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"	crossorigin="anonymous" />
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"	crossorigin="anonymous" />
    </head>
    <body>
        <div style="background-color: #8573c4;
                 height: 70px;"></div>
        <center>
        <form  th:action="@{/burguer/request}" th:object="${snackVO}" method="post">
            <h1 th:text="'Bem vindo ' + ${username}"></h1>

            <font color="red">
                <p th:if="${requestErrorMessage != null}" class="error" th:text="${requestErrorMessage}"></p>
            </font>

            <input type="hidden" th:value="${snacks}" id="hiddenSnacks"/>
            <select id="snack" name="snack">
                <option value="0">Lista de Lanches</option>
                <option th:each="s : ${snacks}" th:value="${s.snack.id}" th:text="${s.snack.name} + ' - ' + ${s.totalValue.toEngineeringString()}"></option>
            </select>
            <br />
            <br />
            <label for="bread">Tipo de pão: </label>
            <select id="bread" name="bread">
                <option th:each="b : ${breads}" th:value="${b.id}" th:text="${b.name} + ' - ' + ${b.value}" data-snack="${b.snacks}"></option>
            </select>
            <br />

            <label for="cheese">Queijo: </label>
            <select id="cheese" name="cheese">
                <option th:each="c : ${cheeses}" th:value="${c.id}" th:text="${c.name} + ' - ' + ${c.value}"></option>
            </select>
            <input type="checkbox" name="doubleCheese" id="doubleCheese" text="Dobro de queijo" /> <label for="doubleCheese">Dobro de Queijo</label>
            <br />

            <label for="filling">Recheio: </label>
            <select id="filling" name="filling">
                <option th:each="f : ${fillings}" th:value="${f.id}" th:text="${f.name} + ' - ' + ${f.value}"></option>
            </select>
            <input type="checkbox" name="doubleFilling" id="doubleFilling" text="Dobro de recheio"/> <label for="doubleFilling">Dobro de Recheio</label>
            <br />
            <br />

            <label>Saladas: </label>
            <input th:each="s : ${salads}" type="radio" name="salad" id="salad" th:text="${s.name}" th:value="${s.id}" />
            <input type="checkbox" name="doubleSalad" id="doubleSalad" text="Dobro de salada" /> <label for="doubleSalad">Dobro de Salada</label>
            <br />

            <label>Molhos: </label>
            <input th:each="s : ${sauces}" type="radio" name="sauce" id="sauce" th:text="${s.name}" th:value="${s.id}" />
            <br />

            <label>Temperos: </label>
            <input th:each="s : ${spices}" type="checkbox" name="spice" id="spice" th:text="${s.name}" th:value="${s.id}" />

            <br />
            <br />

            <input type="submit" value="Salvar"/>

            <br />
            <br />
            <br />

            <label>Demandas:</label> <br /> <br/>
            <p th:each="demand : ${session.snackDemand}" name="snackDemand">
                <label th:each="i : ${demand.ingredients}" th:text="${i.name} + ' - '" />
            </p>

            <br />

            <label th:text="'Valor total do pedido: ' + ${demandTotalValue}" />
        </form>

        <form  th:action="@{/burguer/finishDemand}" th:object="${finishDemandVO}" method="post">
            <label for="address">Endereço: </label>
            <input type="text" id="address" name="address" />
            <br />
            <input type="submit" value="Finalizar"/>
        </form>

        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Sair"/>
        </form>
        </center>
    </body>
</html>