<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Enntelgy - Finalização Solicitação de Lanche</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"	crossorigin="anonymous" />
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"	crossorigin="anonymous" />
    </head>
    <body>
        <div style="background-color: #8573c4;
                 height: 70px;"></div>
        <center>
        <h1 th:text="'Olá ' + ${name}"></h1>
        <br /><br />
        <h3 th:text="'O valor total do seu pedido é de ' + ${totalValue}"></h3>
        <h3>Qual a forma de pagamento?</h3>
        <input type="radio" name="formaPagamento" id="credito" value="Crédito" /> <label for="credito">Crédito</label>
        <input type="radio" name="formaPagamento" id="debito" value="Débito" /> <label for="debito">Débito</label>
        <input type="radio" name="formaPagamento" id="dinheiro" value="Dinheiro" /> <label for="dinheiro">Dinheiro</label>
        <br/>
        <h3>Precisa de troco?</h3>
        <input type="radio" name="troco" id="sim" value="Sim" /> <label for="sim">Sim</label>
        <input type="radio" name="troco" id="nao" value="Não" /> <label for="nao">Não</label>
        <br/>
        <form  th:action="@{/burguer/request}" method="get">
            <input type="submit" value="Novo Pedido"/>
        </form>
        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Sair"/>
        </form>
        </center>
    </body>
</html>