<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Entelgy - Área Administrativa</title>
        <script src="../js/jquery-3.1.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"	crossorigin="anonymous" />
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"	crossorigin="anonymous" />
    </head>
    <body>
            <div style="background-color: #772a1f;
                     height: 70px;"></div>
            <center>
            <h1>Área administrativa</h1>

            <label>Lanches Pendentes de Produção</label>

            <p th:if="${pendingDemands.size() == 0}" th:text="'Não existem pedidos.'" />

            <p th:each="demand : ${pendingDemands}" name="snackDemand">
                <form th:action="@{/manage/closeDemand}" th:object="${snackDemandVO}" method="post">
                    <input type="hidden" name="id" th:value="${demand.id}"/>
                    <label>--------------- Início pedido ---------------</label>
                    <p th:text="${demand.user.name}" />
                    <p th:text="${demand.address}" />
                    <p th:each="snack : ${demand.snacks}">
                        <label>Lanche: </label>
                        <label th:each="i : ${snack.ingredients}" th:text="${i.name} + ' - '" />
                    </p>
                    <label th:text="'Valor total do pedido: ' + ${demand.totalValue}" />
                    <br />
                    <br />
                    <input type="submit" value="Finalizar Pedido" />
                    <br />
                    <br />
                    <label>--------------- Fim pedido ---------------</label>
                    <br />
                    <br />
                </form>
            </p>

            <form  th:action="@{/logout}" method="post">
                <input type="submit" value="Sair"/>
            </form>
            </center>
    </body>
</html>